<!DOCTYPE html>
<html lang="en">
<head>
    <title>Camron's portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./stylesheets/site.css" type="text/css" rel="stylesheet">
</head>

<body class="wrapper">
    
    <div class="header">

        <img src="./images/landscape.jpg" style="width:100%;height:auto;border:0;">

        <div id="mySidenav" class="sidenav">
            <a href="#" id="home">Home</a>
            <a href="#" id="projects">Projects</a>
            <a href="#" id="about">About</a>
            <a href="#" id="contact">Contact</a>
        </div>

        <div id="header_title">
            <h2>Camron's portfolio</h2>
        </div>

    </div>

 <div class="cards">
    
        <% data.projects.each do |project| %>
            <div>
                <div class="card">
                    <img src="<%= project[:image] %>" style="width:350px;height:250;border:0;">
                    <div class="card-title">
                        <a href="#" class="toggle-info btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            <%= project[:name] %>
                            <small><%= project[:technologies] %></small>
                        </h2>
                    </div>
                    <div class="card-flap flap1">
                        <div class="card-description">
                            <%= project[:description] %>
                        </div>
                    </div>  <!-- this closing tag was missing -->
                    <div class="card-flap flap2">
                    <br><br><br>
                        <div class="card-actions">
                            <a href="<%= project[:github] %>" class="btn" target="_blank">View project</a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        
</div>

    <!-- end of cards section -->

    <div class="about">
        <div id="about_header">
            <h3>About</h3>
        </div>
            <ul id="about_ul">
                <li>MBA <a href="https://www8.gsb.columbia.edu/" target="_blank">Columbia Business School.</a></li><br>
                <li>Several years of high-level work in London’s tech & startup industry.</li><br>
                <li>I’ve spent the last 20 years living in multiple countries, starting with education and work in the U.S.  Following that, I’ve lived in places such as London, Madrid, and Vietnam. My work life has predominantly been in tech and startups. I’m now at <a href="https://www.craftacademy.se" target="_blank">Craft Academy</a> to fill the gap of the one remaining area in my industry that I’ve yet to fully grasp — the actual tech.</a></li>
            </ul>
    </div>

    <div id="my_image">
        <img src="./images/my_image.png" style="width:150px;height:auto;">
    </div>

    <div id="social_media">

        <a href="https://www.linkedin.com/in/camronmoradi/" target="_blank">
            <img src="./images/linkedin.png" style="width:40px;height:auto;">
        </a>
        <a href="https://www.instagram.com/camronjuniorldnf/" target="_blank">
            <img src="./images/instagram.png" style="width:40px;height:auto">
        </a>
    </div>

    <%# <div class="contact">
        <form name="contact" method="POST" netlify>
            <p>
                <label>Your Name: <input type="text" name="name" /></label>   
            </p>
            <p>
                <label>Your Email: <input type="email" name="email" /></label>
            </p>
            <p>
                <label>Message: <textarea name="message"></textarea></label>
            </p>
            <p>
                <button type="submit">Send</button>
            </p>
        </form>

    </div> %>

</body>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

<script src="./javascripts/site.js"></script>

</html>